<link href="~/Content/jquery/jqueryvalidation/site-demos.css" rel="stylesheet" />

<form id="validateEntry">
    <div class="row">
        <div class="col-md-9">
            <input type="text" class="entry_name form-control" name="Name" placeholder="Name" required="required" maxlength="50" autocomplete="off" />
        </div>
        <div class="col-md-9">
            <input type="text" class="entry_number form-control" name="Number" maxlength="14" placeholder="Number" required="required" autocomplete="off" />
        </div>
    </div>
</form>

<script src="~/Scripts/jquery/jqueryvalidate/jquery.validate.min.js"></script>
