<link href="~/Content/jquery/jqueryvalidation/site-demos.css" rel="stylesheet" />

<form id="validatePhonebook">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="phone_book_name form-control" autocomplete="off" placeholder="Phonebook name" required="required" maxlength="100" />
        </div>
    </div>
</form>

<script src="~/Scripts/jquery/jqueryvalidate/jquery.validate.min.js"></script>

